* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;


}

.background {
	background-color: pink;
	min-height: 100vh;
}


.cardHighlight {

	min-height: 100%;
	background-color: silver;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);


	
}
.cardHighlight img {
	
	width: 200px;
	height: 150px;
	margin-left: 50px;
	

}

.navbar { background-color: #222; }
  a, .navbar-nav, .navbar-light .nav-link {
    color: #9FFFCB;
   
 
}

.navbar-brand {
    font-size: 1.4em;
    color: white;
  
  }

.jumbotron {
	
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
	padding-top: 50px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 100px;
	border-radius: 50px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.jumbotron h1, p {
	background-color: #black;
	padding: 10px;
}




/**/.style{
	flex-direction: column;
	justify-content: center;
	


}

.Col {
	min-height: 100%;
	background-color: silver;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);


/*	margin-top: 10px;
	margin-bottom: 10px;*/
}

.color {
	background-color: silver;
}

.reg{

	margin-top: 20px;
}


.log {
	margin-top: 20px;
}


.add{
	margin-top: 20px;

}

.text-center{
/*	margin-top: 20px;*/

}